
html,
		body {
		  height: 100%;
		  width: 100%;
		}


#Header{
  background-color: lightblue;
}

#Menu{
  float: left;
  width: 150px;
  height: 100%;
  font-size: 20px;
  background-color: blue;
}
#Menu ul li{
  list-style: none;
  text-decoration: none;

}
#Menu ul li a:hover{
  background-color: white;
}
#Content{

  margin-left: 160px;

}
#Footer{
  background-color: lightblue;
}
